/* file: ./src/styles/fonts.css */
@font-face {
  font-family: 'Plus Jakarta Sans';
  font-style: normal;
  font-weight: 300;
  src: url('/fonts/PlusJakartaSans/static/PlusJakartaSans-Light.ttf') format('ttf');
}
@font-face {
  font-family: 'Plus Jakarta Sans';
  font-style: normal;
  font-weight: 400;
  src: url('/fonts/PlusJakartaSans/static/PlusJakartaSans-Regular.ttf') format('ttf');
}
@font-face {
  font-family: 'Plus Jakarta Sans';
  font-style: normal;
  font-weight: 500;
  src: url('/fonts/PlusJakartaSans/static/PlusJakartaSans-Medium.ttf') format('ttf');
}
@font-face {
  font-family: 'Plus Jakarta Sans';
  font-style: normal;
  font-weight: 600;
  src: url('/fonts/PlusJakartaSans/static/PlusJakartaSans-SemiBold.ttf') format('ttf');
}
@font-face {
  font-family: 'Plus Jakarta Sans';
  font-style: normal;
  font-weight: 700;
  src: url('/fonts/PlusJakartaSans/static/PlusJakartaSans-Bold.ttf') format('ttf');
}